.galery {
    background: black;
    .brand {
        background: red;
        display: flex;
        align-items:center;
        .logo {
            flex-grow:2;
        }
        #Layer_1 {
            
            display: block;
            margin: auto;
            width: 120px;
            @media (min-width: $screen-xs) {
                width: 320px;
            }
            @media (min-width: $screen-md) {
                width: 420px;
            }
        }
    }
    .image {
        max-width: 100%;
        display: block;
        filter: grayscale(100%);
        &:hover {
            cursor: pointer;
             filter: grayscale(0%);
        }
    }
}