.modal {
    &__backdrop {
        position: fixed;
        background-color: rgba(255, 255, 255, 0.6);
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
    }
    &__wrapper {
        z-index: 999;
        .modal {
            width: auto;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            
            img {
                max-width: 100%;
            }
        }
    }
}

